In [ ]:
# from google.colab import files
# from google.colab import drive
# drive.mount('/content/drive')

In [1]:
import os
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
train = pd.read_csv('/Users/kyongwonkim/Desktop/cherry/train_1011_1.csv')
test = pd.read_csv('/Users/kyongwonkim/Desktop/cherry/test_1011_1.csv')

In [3]:
train2 = train.copy()
test2 = test.copy()

In [4]:
print('train2:',train2.shape)
print('test2:',test2.shape)

train2: (10264386, 23)
test2: (3255482, 23)

# personal_rehabilitation_yn

### train

In [5]:
#loanapply_insert_time-04-18 13:38:29 이전 NA ->(no response)으로 채우기
#pd.set_option("display.max_columns",None)

train2.loc[(train2['loanapply_insert_time']<"2022-04-18 13:38:29"),'personal_rehabilitation_yn']="no_response"
train2[train2.loanapply_insert_time <"2022-04-18 13:38:29"]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,566528,2022-03-01 00:11:36,13,123,20000000.0,19.1,0.0,681184,1974.0,1.0,...,OTHERINCOME,NaN,기타,전월세,1000000.0,생활비,no_response,NaN,4.0,20000000.0
1,180433,2022-03-01 00:12:05,19,231,16000000.0,15.0,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,NaN,3.0,11000000.0
2,180433,2022-03-01 00:12:05,13,262,22000000.0,16.6,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,NaN,3.0,11000000.0
3,180433,2022-03-01 00:12:06,21,196,3000000.0,10.9,1.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,NaN,3.0,11000000.0
4,1657888,2022-03-01 00:12:06,24,263,5000000.0,15.9,0.0,752985,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,no_response,NaN,7.0,33000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263927,1817476,2022-04-18 13:38:05,47,43,32000000.0,17.5,0.0,451198,1979.0,0.0,...,EARNEDINCOME,201311.0,정규직,기타가족소유,17000000.0,대환대출,no_response,NaN,3.0,30000000.0
5263928,1571359,2022-04-18 13:38:06,1,61,24000000.0,13.9,1.0,631263,1973.0,1.0,...,PRIVATEBUSINESS,201206.0,기타,자가,10000000.0,생활비,no_response,NaN,3.0,190000000.0
5263929,2144773,2022-04-18 13:38:11,49,136,10000000.0,6.6,1.0,59819,1993.0,1.0,...,EARNEDINCOME2,202007.0,정규직,기타가족소유,3000000.0,생활비,no_response,NaN,3.0,46000000.0
5263930,669275,2022-04-18 13:38:15,27,176,30000000.0,11.9,0.0,173486,1980.0,1.0,...,EARNEDINCOME,201806.0,정규직,전월세,10000000.0,생활비,no_response,NaN,NaN,NaN
5263931,2121846,2022-04-18 13:38:20,22,164,12000000.0,8.0,0.0,274786,1974.0,1.0,...,EARNEDINCOME2,201110.0,정규직,전월세,10000000.0,대환대출,no_response,NaN,5.0,21000000.0

In [6]:
#2022-04-18 13:38:29 이후 NA ->(No_response)로 채우기 
train2.loc[(train2['loanapply_insert_time']>="2022-04-18 13:38:29")&(train2['personal_rehabilitation_yn'].isna()),'personal_rehabilitation_yn']="no_response"
train2[train2.loanapply_insert_time >="2022-04-18 13:38:29"]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
5263932,1437157,2022-04-18 13:38:30,42,258,38000000.0,9.5,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,0.0,3.0,74000000.0
5263933,1437157,2022-04-18 13:38:30,61,92,34000000.0,11.5,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,0.0,3.0,74000000.0
5263934,1437157,2022-04-18 13:38:30,13,262,37000000.0,16.1,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,0.0,3.0,74000000.0
5263935,1437157,2022-04-18 13:38:30,30,121,15000000.0,13.0,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,0.0,3.0,74000000.0
5263936,1437157,2022-04-18 13:38:30,50,142,60000000.0,14.0,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,0.0,3.0,74000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264381,455157,2022-05-31 23:54:28,35,168,3000000.0,18.3,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10264382,455157,2022-05-31 23:54:28,55,159,3000000.0,18.9,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10264383,455157,2022-05-31 23:54:29,22,221,5000000.0,18.4,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10264384,455157,2022-05-31 23:54:37,38,16,3000000.0,14.5,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10264385,831190,2022-05-31 23:54:38,52,187,2000000.0,9.5,0.0,472597,1992.0,0.0,...,PRIVATEBUSINESS,201905.0,기타,전월세,40000000.0,대환대출,0.0,0.0,2.0,5000000.0

In [7]:
train2["personal_rehabilitation_yn"].isna().sum()

0

### test

In [8]:
test2["personal_rehabilitation_yn"].isna().sum()

15463

In [9]:
#test는 모두 2022-04-18 13:38:29 이후 NA ->(No_response)로 채우기 
test2.loc[(test2['personal_rehabilitation_yn'].isna()),'personal_rehabilitation_yn']="no_response"

test2["personal_rehabilitation_yn"].isna().sum()

0

# personal_rehabilitation_complete_yn

### train

In [10]:
train2["personal_rehabilitation_complete_yn"].isna().sum()

9227205

In [11]:
# personal_rehabilitation 가 0이면(개인회생자 아님) no-rehabilitation

train2.loc[(train2['personal_rehabilitation_yn']==0),'personal_rehabilitation_complete_yn']="no_rehabilitation"
train2.loc[train2['personal_rehabilitation_yn']==0]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
5263932,1437157,2022-04-18 13:38:30,42,258,38000000.0,9.5,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,no_rehabilitation,3.0,74000000.0
5263933,1437157,2022-04-18 13:38:30,61,92,34000000.0,11.5,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,no_rehabilitation,3.0,74000000.0
5263934,1437157,2022-04-18 13:38:30,13,262,37000000.0,16.1,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,no_rehabilitation,3.0,74000000.0
5263935,1437157,2022-04-18 13:38:30,30,121,15000000.0,13.0,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,no_rehabilitation,3.0,74000000.0
5263936,1437157,2022-04-18 13:38:30,50,142,60000000.0,14.0,0.0,485729,1995.0,1.0,...,EARNEDINCOME,202012.0,정규직,자가,60000000.0,생활비,0.0,no_rehabilitation,3.0,74000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264381,455157,2022-05-31 23:54:28,35,168,3000000.0,18.3,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,12.0,293000000.0
10264382,455157,2022-05-31 23:54:28,55,159,3000000.0,18.9,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,12.0,293000000.0
10264383,455157,2022-05-31 23:54:29,22,221,5000000.0,18.4,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,12.0,293000000.0
10264384,455157,2022-05-31 23:54:37,38,16,3000000.0,14.5,0.0,717233,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,12.0,293000000.0
10264385,831190,2022-05-31 23:54:38,52,187,2000000.0,9.5,0.0,472597,1992.0,0.0,...,PRIVATEBUSINESS,201905.0,기타,전월세,40000000.0,대환대출,0.0,no_rehabilitation,2.0,5000000.0

In [12]:
# personal_rehabilitation 가 no_response -> no_response

train2.loc[(train2['personal_rehabilitation_yn']=="no_response"),'personal_rehabilitation_complete_yn']="no_response"
train2.loc[train2['personal_rehabilitation_yn']=="no_response"]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,566528,2022-03-01 00:11:36,13,123,20000000.0,19.1,0.0,681184,1974.0,1.0,...,OTHERINCOME,NaN,기타,전월세,1000000.0,생활비,no_response,no_response,4.0,20000000.0
1,180433,2022-03-01 00:12:05,19,231,16000000.0,15.0,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
2,180433,2022-03-01 00:12:05,13,262,22000000.0,16.6,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
3,180433,2022-03-01 00:12:06,21,196,3000000.0,10.9,1.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
4,1657888,2022-03-01 00:12:06,24,263,5000000.0,15.9,0.0,752985,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,7.0,33000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10256217,173189,2022-05-31 21:36:12,62,200,11000000.0,14.8,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256218,173189,2022-05-31 21:36:14,35,29,1000000.0,18.3,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256219,173189,2022-05-31 21:36:14,38,223,28000000.0,17.3,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256220,173189,2022-05-31 21:36:16,22,164,15000000.0,8.0,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256221,173189,2022-05-31 21:36:25,49,136,15000000.0,6.5,1.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN

In [13]:
# personal_rehabilitation 가 no_response -> no_response
train2.loc[(train2['personal_rehabilitation_yn']=="no_response"),'personal_rehabilitation_complete_yn']="no_response"
train2.loc[train2['personal_rehabilitation_yn']=="no_response"]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,566528,2022-03-01 00:11:36,13,123,20000000.0,19.1,0.0,681184,1974.0,1.0,...,OTHERINCOME,NaN,기타,전월세,1000000.0,생활비,no_response,no_response,4.0,20000000.0
1,180433,2022-03-01 00:12:05,19,231,16000000.0,15.0,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
2,180433,2022-03-01 00:12:05,13,262,22000000.0,16.6,0.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
3,180433,2022-03-01 00:12:06,21,196,3000000.0,10.9,1.0,623737,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,no_response,no_response,3.0,11000000.0
4,1657888,2022-03-01 00:12:06,24,263,5000000.0,15.9,0.0,752985,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,7.0,33000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10256217,173189,2022-05-31 21:36:12,62,200,11000000.0,14.8,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256218,173189,2022-05-31 21:36:14,35,29,1000000.0,18.3,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256219,173189,2022-05-31 21:36:14,38,223,28000000.0,17.3,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256220,173189,2022-05-31 21:36:16,22,164,15000000.0,8.0,0.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN
10256221,173189,2022-05-31 21:36:25,49,136,15000000.0,6.5,1.0,569416,1968.0,1.0,...,EARNEDINCOME2,201301.0,계약직,전월세,10000000.0,생활비,no_response,no_response,NaN,NaN

In [14]:
train2["personal_rehabilitation_complete_yn"].isna().sum()

0

In [15]:
train2.personal_rehabilitation_yn.value_counts()

no_response    5870447
0.0            4370919
1.0              23020
Name: personal_rehabilitation_yn, dtype: int64

In [16]:
train2.personal_rehabilitation_complete_yn.value_counts()

no_response          5870447
no_rehabilitation    4370919
0.0                    18926
1.0                     4094
Name: personal_rehabilitation_complete_yn, dtype: int64

### test

In [17]:
test2["personal_rehabilitation_complete_yn"].isna().sum()

2560283

In [18]:
test2["personal_rehabilitation_complete_yn"].value_counts(dropna=False)

NaN    2560283
0.0     692666
1.0       2533
Name: personal_rehabilitation_complete_yn, dtype: int64

In [19]:
# personal_rehabilitation 가 0이면(개인회생자 아님) no-rehabilitation

test2.loc[(test2['personal_rehabilitation_yn']==0),'personal_rehabilitation_complete_yn']="no_rehabilitation"
test2.loc[test2['personal_rehabilitation_yn']==0]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
1,506292,2022-06-01 00:12:24,27,148,13000000.0,7.2,NaN,669202,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
2,506292,2022-06-01 00:12:24,59,251,11000000.0,6.8,NaN,669202,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
3,506292,2022-06-01 00:12:24,19,231,24000000.0,15.6,NaN,669202,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
4,506292,2022-06-01 00:12:25,56,5,2000000.0,18.5,NaN,669202,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
5,506292,2022-06-01 00:12:34,19,127,13000000.0,9.5,NaN,669202,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255477,634459,2022-06-30 23:54:48,19,231,11000000.0,16.6,NaN,244440,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
3255478,634459,2022-06-30 23:54:48,10,149,30000000.0,14.5,NaN,244440,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
3255479,634459,2022-06-30 23:54:48,10,65,30000000.0,14.5,NaN,244440,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,no_rehabilitation,1.0,NaN
3255480,1288711,2022-06-30 23:54:52,35,267,3000000.0,13.8,NaN,450880,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,NaN,NaN
3255481,1288711,2022-06-30 23:55:00,27,176,21000000.0,12.8,NaN,450880,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,no_rehabilitation,NaN,NaN

In [20]:
# personal_rehabilitation 가 no_response -> no_response
test2.loc[(test2['personal_rehabilitation_yn']=="no_response"),'personal_rehabilitation_complete_yn']="no_response"
test2.loc[test2['personal_rehabilitation_yn']=="no_response"]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
1098,179316,2022-06-01 00:40:35,55,25,26000000.0,14.5,NaN,519250,1991.0,1.0,...,FREELANCER,202110.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,NaN,NaN
1099,179316,2022-06-01 00:40:35,29,265,28000000.0,8.1,NaN,519250,1991.0,1.0,...,FREELANCER,202110.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,NaN,NaN
1104,179316,2022-06-01 00:40:35,42,249,7000000.0,9.6,NaN,519250,1991.0,1.0,...,FREELANCER,202110.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,NaN,NaN
1107,179316,2022-06-01 00:40:35,35,29,5000000.0,14.5,NaN,519250,1991.0,1.0,...,FREELANCER,202110.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,NaN,NaN
1110,179316,2022-06-01 00:40:35,13,262,30000000.0,16.4,NaN,519250,1991.0,1.0,...,FREELANCER,202110.0,기타,기타가족소유,3000000.0,생활비,no_response,no_response,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3246475,526892,2022-06-30 21:18:41,27,176,14000000.0,13.7,NaN,46505,1992.0,0.0,...,EARNEDINCOME,20201001.0,정규직,전월세,10000000.0,투자,no_response,no_response,NaN,NaN
3246477,526892,2022-06-30 21:18:47,29,75,21000000.0,8.1,NaN,46505,1992.0,0.0,...,EARNEDINCOME,20201001.0,정규직,전월세,10000000.0,투자,no_response,no_response,NaN,NaN
3246478,526892,2022-06-30 21:18:48,22,164,20000000.0,8.7,NaN,46505,1992.0,0.0,...,EARNEDINCOME,20201001.0,정규직,전월세,10000000.0,투자,no_response,no_response,NaN,NaN
3246479,526892,2022-06-30 21:18:48,22,100,8000000.0,15.3,NaN,46505,1992.0,0.0,...,EARNEDINCOME,20201001.0,정규직,전월세,10000000.0,투자,no_response,no_response,NaN,NaN
3246480,526892,2022-06-30 21:18:50,8,31,23000000.0,7.0,NaN,46505,1992.0,0.0,...,EARNEDINCOME,20201001.0,정규직,전월세,10000000.0,투자,no_response,no_response,NaN,NaN

In [21]:
test2["personal_rehabilitation_complete_yn"].isna().sum()

0

In [22]:
test2.personal_rehabilitation_yn.value_counts()

0.0            3221862
1.0              18157
no_response      15463
Name: personal_rehabilitation_yn, dtype: int64

In [23]:
test2.personal_rehabilitation_complete_yn.value_counts()

no_rehabilitation    3221862
0.0                    15624
no_response            15463
1.0                     2533
Name: personal_rehabilitation_complete_yn, dtype: int64

# birth_year & company_enter_month

In [24]:
#1011 이상치만 제거

# outlier제거를 위한 변수 만들기
#입사연월에서 연도만 뺀 변수 만들기
train2['company_enter_year']=train2['company_enter_month'].apply(str).str[0:4].apply(float)
train2['company_enter_year']

0              NaN
1           2022.0
2           2022.0
3           2022.0
4           2021.0
             ...
10264381    1997.0
10264382    1997.0
10264383    1997.0
10264384    1997.0
10264385    2019.0
Name: company_enter_year, Length: 10264386, dtype: float64

In [25]:
train2['age'] = 2022 - train2['birth_year'] +1
train2['working_year'] = 2022 - train2['company_enter_year']+1


train2.loc[(train2['age']-train2['working_year'])<=0] #태어나기도 전에 일한사람? 731 rows

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,company_enter_year,age,working_year
983678,706921,2022-03-10 12:59:58,18,188,100000000.0,6.3,0.0,505707,1997.0,1.0,...,전월세,16000000.0,생활비,no_response,no_response,NaN,NaN,1997.0,26.0,26.0
983679,706921,2022-03-10 12:59:58,52,234,50000000.0,4.6,0.0,505707,1997.0,1.0,...,전월세,16000000.0,생활비,no_response,no_response,NaN,NaN,1997.0,26.0,26.0
983680,706921,2022-03-10 12:59:58,45,119,66000000.0,4.3,0.0,505707,1997.0,1.0,...,전월세,16000000.0,생활비,no_response,no_response,NaN,NaN,1997.0,26.0,26.0
983699,706921,2022-03-10 13:00:00,25,169,25000000.0,18.9,0.0,505707,1997.0,1.0,...,전월세,16000000.0,생활비,no_response,no_response,NaN,NaN,1997.0,26.0,26.0
983700,706921,2022-03-10 13:00:00,34,40,50000000.0,18.9,0.0,505707,1997.0,1.0,...,전월세,16000000.0,생활비,no_response,no_response,NaN,NaN,1997.0,26.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9963815,83162,2022-05-29 09:08:28,29,265,34000000.0,9.0,0.0,313726,1995.0,1.0,...,자가,200000000.0,주택구입,0.0,no_rehabilitation,NaN,NaN,1990.0,28.0,33.0
9963816,83162,2022-05-29 09:08:28,14,128,8000000.0,17.9,0.0,313726,1995.0,1.0,...,자가,200000000.0,주택구입,0.0,no_rehabilitation,NaN,NaN,1990.0,28.0,33.0
9963817,83162,2022-05-29 09:08:28,42,258,38000000.0,13.1,0.0,313726,1995.0,1.0,...,자가,200000000.0,주택구입,0.0,no_rehabilitation,NaN,NaN,1990.0,28.0,33.0
9963818,83162,2022-05-29 09:08:28,1,61,69000000.0,12.4,0.0,313726,1995.0,1.0,...,자가,200000000.0,주택구입,0.0,no_rehabilitation,NaN,NaN,1990.0,28.0,33.0
9963819,83162,2022-05-29 09:08:28,3,205,10000000.0,18.9,0.0,313726,1995.0,1.0,...,자가,200000000.0,주택구입,0.0,no_rehabilitation,NaN,NaN,1990.0,28.0,33.0

In [26]:
#나이가 근속기간보다 많으면 company_enter_month  NA 처리  

#ujic.loc[(ujic['age']-ujic['working_year'])<=0, "birth_year"]=np.nan
train2.loc[(train2['age']-train2['working_year'])<=0, "company_enter_month"]=np.nan

del train2['working_year']
del train2['age']

In [27]:
test2['company_enter_year']=test2['company_enter_month'].apply(str).str[0:4].apply(float)

test2['age'] = 2022 - test2['birth_year'] +1
test2['working_year'] = 2022 - test2['company_enter_year']+1

test2.loc[(test2['age']-test2['working_year'])<=0, "company_enter_month"]=np.nan

del test2['working_year']
del test2['age']

In [28]:
train2.loc[train2["company_enter_month"]<197000.0]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,company_enter_year
1616502,1769164,2022-03-16 10:58:47,45,119,4000000.0,3.2,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616504,1769164,2022-03-16 10:58:47,35,29,5000000.0,15.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616505,1769164,2022-03-16 10:58:47,44,8,5000000.0,14.6,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616506,1769164,2022-03-16 10:58:47,13,262,50000000.0,13.4,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616509,1769164,2022-03-16 10:58:47,57,71,50000000.0,10.2,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616510,1769164,2022-03-16 10:58:47,55,12,50000000.0,11.1,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616511,1769164,2022-03-16 10:58:47,42,258,44000000.0,9.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616512,1769164,2022-03-16 10:58:47,29,265,34000000.0,7.0,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616515,1769164,2022-03-16 10:58:47,30,121,50000000.0,12.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616523,1769164,2022-03-16 10:58:48,3,152,30000000.0,9.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616530,1769164,2022-03-16 10:58:48,1,1,60000000.0,8.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616533,1769164,2022-03-16 10:58:48,14,197,10000000.0,9.8,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616534,1769164,2022-03-16 10:58:48,32,56,15000000.0,13.4,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616536,1769164,2022-03-16 10:58:49,21,30,13000000.0,8.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616556,1769164,2022-03-16 10:58:54,19,26,50000000.0,13.6,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616597,1769164,2022-03-16 10:59:10,29,20,50000000.0,7.2,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1616602,1769164,2022-03-16 10:59:11,20,111,22000000.0,7.0,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+10,생활비,no_response,no_response,NaN,NaN,1942.0
1619783,993197,2022-03-16 11:16:43,30,121,50000000.0,12.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619784,993197,2022-03-16 11:16:43,59,150,5000000.0,12.8,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619786,993197,2022-03-16 11:16:44,57,71,50000000.0,10.2,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619787,993197,2022-03-16 11:16:44,13,262,50000000.0,13.4,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619788,993197,2022-03-16 11:16:44,35,29,5000000.0,15.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619789,993197,2022-03-16 11:16:44,14,197,10000000.0,9.8,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619790,993197,2022-03-16 11:16:44,29,265,34000000.0,7.0,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619791,993197,2022-03-16 11:16:44,1,1,60000000.0,8.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619792,993197,2022-03-16 11:16:44,55,12,50000000.0,11.1,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619793,993197,2022-03-16 11:16:44,44,8,5000000.0,14.6,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619794,993197,2022-03-16 11:16:44,43,246,40000000.0,14.8,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619795,993197,2022-03-16 11:16:44,42,258,44000000.0,9.5,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619796,993197,2022-03-16 11:16:45,36,60,60000000.0,10.4,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619797,993197,2022-03-16 11:16:45,3,152,30000000.0,9.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619798,993197,2022-03-16 11:16:45,34,215,50000000.0,11.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619799,993197,2022-03-16 11:16:45,32,56,15000000.0,13.4,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619800,993197,2022-03-16 11:16:45,25,163,50000000.0,6.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619801,993197,2022-03-16 11:16:45,26,80,50000000.0,11.9,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619813,993197,2022-03-16 11:16:50,19,26,47000000.0,13.6,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0
1619879,993197,2022-03-16 11:17:02,20,111,22000000.0,7.0,0.0,284238,NaN,NaN,...,194201.0,정규직,자가,1.000000e+06,생활비,no_response,no_response,NaN,NaN,1942.0

In [29]:
index1=train2[train2["company_enter_month"]<197000.0].index #application_id : 1769164 - 1942.0년 입사 : 삭제
print(len(index1)) #1명 -> 삭제...
print(train2.shape)

37
(10264386, 24)

In [30]:
train2.drop(index1, inplace=True)
print(train2.shape)

(10264349, 24)

In [31]:
test2.loc[test2["company_enter_month"]<197000.0]

Empty DataFrame
Columns: [application_id, loanapply_insert_time, bank_id, product_id, loan_limit, loan_rate, is_applied, user_id, birth_year, gender, insert_time, credit_score, yearly_income, income_type, company_enter_month, employment_type, houseown_type, desired_amount, purpose, personal_rehabilitation_yn, personal_rehabilitation_complete_yn, existing_loan_cnt, existing_loan_amt, company_enter_year]
Index: []

[0 rows x 24 columns]

# existing_loan_amt

### train

In [32]:
#기대출건수가 0이면 둘다 0으로 처리

train2.loc[train2['existing_loan_cnt'] ==0, 'existing_loan_amt'] = 0
print(train2.existing_loan_amt.isna().sum())
print(train2.existing_loan_cnt.isna().sum())

print(train2.loc[train2['existing_loan_amt'].isna(), 'existing_loan_cnt'].value_counts())

3042975
2143013
1.0    899962
Name: existing_loan_cnt, dtype: int64

In [33]:
#existing_loan_amt 대체하기

print(train2['existing_loan_amt'].mean())


train2.loc[train2['existing_loan_amt'] != train2['existing_loan_amt'], 'existing_loan_amt'] = 62990013.37402066

print(train2['existing_loan_amt'].isna().sum())
print(train2['existing_loan_cnt'].isna().sum())

81687435.86746788
0
2143013

### test

In [34]:
#기대출건수가 0이면 둘다 0으로 처리

test2.loc[test2['existing_loan_cnt'] ==0, 'existing_loan_amt'] = 0
print(test2.existing_loan_amt.isna().sum())
print(test2.existing_loan_cnt.isna().sum())

print(test2.loc[test2['existing_loan_amt'].isna(), 'existing_loan_cnt'].value_counts())

845706
541673
1.0    304033
Name: existing_loan_cnt, dtype: int64

In [35]:
#existing_loan_amt 대체하기

test2.loc[test2['existing_loan_amt'] != test2['existing_loan_amt'], 'existing_loan_amt'] = 62990013.37402066

print(test2['existing_loan_amt'].isna().sum())
print(test2['existing_loan_cnt'].isna().sum())

0
541673

# 한영 통일

In [36]:
print(train2.purpose.unique())

train2 = train2.replace({"purpose" : "생활비"}, "LIVING") 
train2 = train2.replace({"purpose" : "대환대출"}, "SWITCHLOAN") 
train2 = train2.replace({"purpose" : "사업자금"}, "BUSINESS") 
train2 = train2.replace({"purpose" : "기타"}, "ETC") 
train2 = train2.replace({"purpose" : "자동차구입"}, "BUYCAR") 
train2 = train2.replace({"purpose" : "전월세보증금"}, "HOUSEDEPOSIT") 
train2 = train2.replace({"purpose" : "주택구입"}, "BUYHOUSE") 
train2 = train2.replace({"purpose" : "투자"}, "INVEST") 

print(train2.purpose.unique())

['생활비' '대환대출' '사업자금' '기타' '자동차구입' '전월세보증금' '주택구입' '투자' 'BUYCAR' 'LIVING'
 'SWITCHLOAN' 'HOUSEDEPOSIT' 'ETC' 'BUSINESS' 'INVEST' 'BUYHOUSE']
['LIVING' 'SWITCHLOAN' 'BUSINESS' 'ETC' 'BUYCAR' 'HOUSEDEPOSIT' 'BUYHOUSE'
 'INVEST']

In [37]:
print(test2.purpose.unique())

test2 = test2.replace({"purpose" : "생활비"}, "LIVING") 
test2 = test2.replace({"purpose" : "대환대출"}, "SWITCHLOAN") 
test2 = test2.replace({"purpose" : "사업자금"}, "BUSINESS") 
test2 = test2.replace({"purpose" : "기타"}, "ETC") 
test2 = test2.replace({"purpose" : "자동차구입"}, "BUYCAR") 
test2 = test2.replace({"purpose" : "전월세보증금"}, "HOUSEDEPOSIT") 
test2 = test2.replace({"purpose" : "주택구입"}, "BUYHOUSE") 
test2 = test2.replace({"purpose" : "투자"}, "INVEST") 

print(test2.purpose.unique())

['생활비' '대환대출' '사업자금' '주택구입' '기타' '전월세보증금' '투자' '자동차구입']
['LIVING' 'SWITCHLOAN' 'BUSINESS' 'BUYHOUSE' 'ETC' 'HOUSEDEPOSIT' 'INVEST'
 'BUYCAR']

# train: na/notna 분리

In [ ]:
train2.isna().sum()

In [ ]:
#train2 = train2.drop('company_enter_year',axis = 1)
train2_na = train2.loc[(train2['birth_year'].isna()) | (train2['gender'].isna()) | (train2['credit_score'].isna()) | (train2['company_enter_month'].isna()) |(train2['existing_loan_cnt'].isna()) |(train2['company_enter_year'].isna())]
train2_na.isna().sum()

In [ ]:
train2_na.shape

In [ ]:
train2_na.to_csv('/Users/kyongwonkim/Desktop/cherry/train_1011_na.csv',index=False)

In [ ]:
7733096+2531253

In [ ]:
train2_notna = train2.dropna()

In [ ]:
print(train2_notna.isna().sum().sum()

In [ ]:
print(train2_notna.shape)

In [ ]:
train2_notna.to_csv('/Users/kyongwonkim/Desktop/cherry/train_1011_notna.csv',index=False)

# test: na/notna

test_na 만들기

In [38]:
test2.isna().sum()

application_id                               0
loanapply_insert_time                        0
bank_id                                      0
product_id                                   0
loan_limit                                   0
loan_rate                                    0
is_applied                             3255482
user_id                                      0
birth_year                               30815
gender                                   30815
insert_time                                  0
credit_score                            265321
yearly_income                                6
income_type                                  0
company_enter_month                      80836
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn                   0
personal_rehabilitation_complete_yn          0
existing_loan_cnt                       541673
existing_loan_amt                            0
company_enter_year                       80112
dtype: int64

In [39]:
print(test2.shape)

(3255482, 24)

In [41]:
#test2 = test2.drop('company_enter_year',axis=1)
test2_na = test2.loc[ (test2['birth_year'].isna()) | (test2['gender'].isna()) | (test2['credit_score'].isna()) |(test2['yearly_income'].isna()) | (test2['company_enter_month'].isna())| (test2['existing_loan_cnt'].isna())| (test2['company_enter_year'].isna())]
test2_na.isna().sum()

application_id                              0
loanapply_insert_time                       0
bank_id                                     0
product_id                                  0
loan_limit                                  0
loan_rate                                   0
is_applied                             652345
user_id                                     0
birth_year                              30815
gender                                  30815
insert_time                                 0
credit_score                           265321
yearly_income                               6
income_type                                 0
company_enter_month                     80836
employment_type                             0
houseown_type                               0
desired_amount                              0
purpose                                     0
personal_rehabilitation_yn                  0
personal_rehabilitation_complete_yn         0
existing_loan_cnt                      541673
existing_loan_amt                           0
company_enter_year                      80112
dtype: int64

In [53]:
test2_na.shape #(652345, 24)

(652345, 24)

In [54]:
test2_na.to_csv('/Users/kyongwonkim/Desktop/cherry/test_1011_na.csv',index=False)

test_notna 만들기

In [49]:
test_notna =test2.loc[ (test2['birth_year'].notna()) & (test2['gender'].notna()) & (test2['credit_score'].notna()) & (test2['yearly_income'].notna()) & (test2['company_enter_month'].notna())& (test2['existing_loan_cnt'].notna())& (test2['company_enter_year'].notna())]
test_notna.isna().sum()

application_id                               0
loanapply_insert_time                        0
bank_id                                      0
product_id                                   0
loan_limit                                   0
loan_rate                                    0
is_applied                             2603137
user_id                                      0
birth_year                                   0
gender                                       0
insert_time                                  0
credit_score                                 0
yearly_income                                0
income_type                                  0
company_enter_month                          0
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn                   0
personal_rehabilitation_complete_yn          0
existing_loan_cnt                            0
existing_loan_amt                            0
company_enter_year                           0
dtype: int64

In [55]:
test_notna.shape

(2603137, 24)

In [52]:
2603137+652345

3255482

In [56]:
test_notna.to_csv('/Users/kyongwonkim/Desktop/cherry/test_1011_notna.csv',index=False)